.login-form {
  justify-content: center;
  min-height: 90vh;
}
.button-block {
  width: 100%;
}
.login-background {
  justify-content: center;
  min-height: 30vh;
  padding: 50px;
}
.MuiTypography-h5.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.MuiTypography-h5.app-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3f51b5;
  font-size: 30px;
}
