body {
  padding: 0;
  margin: 0;
}
header.MuiAppBar-root a:hover,
header.MuiAppBar-root a.active {
  color: white;
  font-weight: 600;
  border-bottom: 2px solid;
}

header.MuiAppBar-root a {
  font-weight: 600;
}

a.fl-right {
  float: right;
}

.ag-theme-alpine .ag-layout-normal .ag-paging-panel {
  justify-content: center;
}
