body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header a:hover {
  color: white;
}

header.MuiAppBar-root a:hover,
header.MuiAppBar-root a.active {
  color: white;
  font-weight: 600;
  border-bottom: 2px solid;
}

header.MuiAppBar-root a {
  font-weight: 600;
}

a.fl-right {
  float: right;
}

.ag-theme-alpine .ag-layout-normal .ag-paging-panel {
  justify-content: center;
}

.custom-header-checkbox .MuiCheckbox-root {
  padding-left: 0;
  width: 20px;
  height: 20px;
}
.custom-header-checkbox .MuiCheckbox-root .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
}
header.MuiPaper-root .MuiBox-root .MuiButton-root.MuiButton-text {
  margin-top: 10px;
  margin-bottom: 10px;
}
header .heading .MuiButtonBase-root.action-icon {
  border: 1px solid #c2c2c2;
  width: 40px;
  height: 40px;
}
header .heading .MuiButtonBase-root.action-icon:hover {
  border: 1px solid;
  background-color: rgba(0, 0, 0, 0.04);
}
header .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
header .MuiContainer-root {
  max-width: 100%;
}

.ag-full-width-container .ag-theme-alpine .ag-loading {
  display: none;
}

header.MuiPaper-root.drawer-header {
  position: fixed;
  width: 100%;
  right: inherit;
  top: 0;
}

header.MuiPaper-root.drawer-header .close-icon {
  cursor: pointer;
}

.drawer-content {
  margin-top: 80px;
  margin-bottom: 80px;
}

.drawer-footer {
  position: fixed;
  bottom: 0px;
  padding-bottom: 10px;
  width: 100%;
  background: #f7f5f5;
  border-top: 1px solid #c2c2c2;
  z-index: 1;
}

ul.MuiList-root.MuiList-padding.MuiMenu-list {
  max-height: 200px;
}

.quote-datepicker .MuiFormControl-root {
  width: 300px;
  margin-left: 8px;
  margin-top: 8px;
}

.container-fluid div.MuiCard-root.note-card {
  margin-top: 20px;
  background-color: #f7f1f1;
}

.sub-header .MuiChip-root {
  margin-left: 20px;
}

div.container-fluid.note-list {
  overflow-y: scroll;
  height: calc(100vh - 120px);
}

.note-list .note-card div.note-card-header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.note-list .note-card div.note-card-content {
  padding-top: 0;
}

div.MuiAvatar-root.avatar-profile {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.MuiDialog-container.MuiDialog-scrollPaper .MuiPaper-root {
  max-width: 950px;
}

.MuiDialogContent-root.MuiDialogContent-dividers.user-image-dialog {
  width: 900px;
}

.profile-container {
  display: flex;
  justify-content: space-around;
}
.profile-containe > div {
  display: inline-block;
  width: 400px;
  height: 400px;
  text-align: center;
}

.user-header {
  display: flex;
  padding: 10px 0;
}

.user-header .user-details {
  margin-left: 20px;
}

.user-header .user-details p {
  margin: 5px;
}

.user-header .user-details p.full-name {
  font-size: 22px;
  font-weight: bold;
}

.user-header .user-details p.job-title {
  font-size: 18;
}

.MuiGrid-root.MuiGrid-item.left-user-form {
  border-right: 2px solid #c2c2c2;
  margin-top: 9px;
}

div.user-form {
  height: calc(100vh - 260px);
  overflow: auto;
}

.quote-task-datepicker {
  display: flex;
}
.reminder-date {
  width: 47%;
  margin: 8px;
}
.due-date {
  width: 46%;
  margin: 8px;
}
.add-remove-btn {
  width: 110px;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: row;
  position: relative;
}
.add-remove-btn .MuiIconButton-colorPrimary {
  width: 35px;
}
button.m-r-20 {
  margin-right: 20px;
}
button.blue-btn {
  background-color: #1976d2;
  color: #fff;
}
button.blue-btn:hover {
  background-color: #154e87;
  color: #fff;
}
.MuiAppBar-colorPrimary {
  background-color: #1976d2;
}
