body {
  padding: 0;
  margin: 0;
}
header.MuiAppBar-root a:hover,
header.MuiAppBar-root a.active {
  color: white;
  font-weight: 600;
  border-bottom: 2px solid;
}

header.MuiAppBar-root a {
  font-weight: 600;
}

a.fl-right {
  float: right;
}

.ag-theme-alpine .ag-layout-normal .ag-paging-panel {
  justify-content: center;
}

.custom-header-checkbox .MuiCheckbox-root {
  padding-left: 0;
  width: 20px;
  height: 20px;
}
.custom-header-checkbox .MuiCheckbox-root .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
}
header.MuiPaper-root .MuiBox-root .MuiButton-root.MuiButton-text {
  margin-top: 10px;
  margin-bottom: 10px;
}
header .heading .MuiButtonBase-root.action-icon {
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid;
  width: 40px;
  height: 40px;
}
header .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
